@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@tailwind base;
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: rgba(29, 78, 216);
  /* font-size: 0.75rem;
  line-height: 1rem; */
  font-size: 1rem;
  line-height: 1.5rem;
}

.ant-tabs-tab .ant-tabs-tab-btn {
  color: rgba(156, 163, 175);
  font-weight: 600;
}

.ant-tabs-ink-bar {
  background: rgba(29, 78, 216);
}

.ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar,
.ant-tabs-bottom > .ant-tabs-nav .ant-tabs-ink-bar,
.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-ink-bar,
.ant-tabs-bottom > div > .ant-tabs-nav .ant-tabs-ink-bar {
  height: 3px;
}

#nprogress .bar {
  background: rgba(29, 78, 216) !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px rgba(29, 78, 216), 0 0 5px rgba(29, 78, 216);
}

#nprogress .spinner-icon {
  border-top-color: rgba(29, 78, 216);
  border-left-color: rgba(29, 78, 216);
}

@tailwind components;
@tailwind utilities;
